# Python tutorial part 3

In the part 3 we explore python data structures.

### 1- Tuples

In [2]:
# Tuples are like lists, but unchangeable! tuple' object does not support item assignment or deletion.

my_tuple = (2, 5, 9)
my_list = [2, 5, 9]

print(my_tuple)
print(my_list)

(2, 5, 9)
[2, 5, 9]

### 2- Sets

In [7]:
# Python also includes a data type for sets. A set is an unordered collection with no duplicate elements.
# Basic uses include membership testing and eliminating duplicate entries.

a_list = [5, 8, 5, 1, 1, 1, "cat", 8, "cat"] # this has duplicate items.
set1 = set(a_list)

print(set1)

{8, 1, 'cat', 5}

In [13]:
# Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

set2 = {"cat", 7, 6, 5}

print("set1 + set2 = ", set1 - set2) # letters in set1 but not in set2
print("set1 | set2 = ", set1 | set2) # letters in set1 or set2 or both
print("set1 & set2 = ", set1 & set2) # letters in both sets
print("set1 ^ set2 = ", set1 ^ set2) # letters not in both sets

set1 + set2 =  {8, 1}
set1 | set2 =  {1, 5, 6, 7, 8, 'cat'}
set1 & set2 =  {'cat', 5}
set1 ^ set2 =  {1, 6, 7, 8}

### 3- Dictionaries

In [17]:
# Dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys.

tel = {'jack': 4098, 'sape': 4139, "mat": 1049}

print(tel)

{'jack': 4098, 'sape': 4139, 'mat': 1049}

In [18]:
# adding new item
tel['guido'] = 4127

# removing an item
del tel['sape']

print(tel)

{'jack': 4098, 'mat': 1049, 'guido': 4127}

In [19]:
# looping a dict

for k, v in tel.items():
  print(k, " : ", v)

jack  :  4098
mat  :  1049
guido  :  4127