# Python tutorial part 1

This is the first session of teaching Python to beginners.

Here is google Colab. Here you can write and run python code in jupyter notebook, but what is a Jupyter notebook?

Jupyter notebook is a project that you can run the Python code, cell by cell. Each block that you are seeing is a cell.
Jupyter notebook is widely used for machine learning and data analytics because it makes coding easier.


---


If you want to run python on your computer you can download python from https://www.python.org/downloads/ and install it. You'll need a good IDE too, I recommend [PyCharm](https://www.jetbrains.com/pycharm/).

In [1]:
# To respect the traditions

print("Hello, World!")

Hello, World!

## section 1: variables

In [2]:
# You can define variables as easy as this. You can store numbers and strings in it.

a = 11     # a is of type int
b = 3  # b is of type int
print("a * b =", a * b)
print("a + b =", a + b)
print("a - b =", a - b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)


a2 = 3.5 # a2 is of type float

c = "This is C" # c is of type str
print("c =", c)

a * b = 33
a + b = 14
a - b = 8
a / b = 3.6666666666666665
a // b = 3
a % b = 2
c = This is C

In [3]:
# You can get input from the user like this:

inp = input("give me a number: ")

print("Your number is:", inp)

# You can print it like this too
print("Your number is: {}".format(inp))

give me a number: 52
Your number is: 52
Your number is: 52

In [4]:
# To see the vatiable types you can use the function "type()"

print("Type a is {}, and type a2 is {}, and type c is {}".format(type(a), type(a2), type(inp)))

Type a is <class 'int'>, and type a2 is <class 'float'>, and type c is <class 'str'>

#### *PRACTICE TIME: FOR SECTION 1*



1.   Get the user's name and get a number from the user. Them print "Hey {user name} your number was {user's number}"
2.   Get two numbers from the user and print the sum of those two.[link text](https://)

In [5]:
# Your fitst code here


#answer:
name=input("name:")
number=int(input("number:"))
print("Hey {} your number was {}".format(name,number))

name:peyman
number:22
Hey peyman your number was 22

In [ ]:
# Your second code here.


#answer:
first=int(input('first:'))
second=int(input("second:"))
print(first+second)

first:2
second:4
6

### Section 2: If

In [6]:
# if, You can use "==", "<", ">", "<=". ">=", and "!=".

if 5 > 2: # this is true
  print("Five is greater than two!")

if 5 < 2: # this is false
  print("Five is less than two!")  # You can see nothing will happen here

if 5 > 2 and 3 < 8: # this is true, becuse both of them are true.
  print("Five is greater than two! and three is less than eight.")

if 5 > 2 and 3 == 8: # this is false, becuse the second term is false.
  print("Five is greater than two! and three is equal to eight.") # You can see nothing will happen here

if 5 > 2 or 3 == 8: # this is ture, becuse the first term is true.
  print("Five is greater than two! or three is equal to eight.") # You can see nothing will happen here

Five is greater than two!
Five is greater than two! and three is less than eight.
Five is greater than two! or three is equal to eight.

In [ ]:
# if, elif, and else. You can use as many elifs as you want. But you can only have one else

a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

#### *PRACTICE TIME: FOR SECTION 2*



1.   Get two numbers from the user and if they are not equal print "Number {?} is bigger that number {?}" and if those two number are equal print "The numbers are equal".
2.   Get a number from the user. If the number is grater that 10, check if the number is odd and then print "the number is grater than 10 and it is odd". and if it is less than 10 print "your number is {?} wich is less than 10.*italicized text*

In [ ]:
# Your first code here

#answer:
first=int(input("first:"))
second=int(input("second:"))
if first!=second:
  if first>second:
    print( "Number {} is bigger that number {}".format(first,second) )
  else:
    print( "Number {} is bigger that number {}".format(second,first))
else:
  print( "equal")

first:5
second:5
equal

In [ ]:
first=int(input("first:"))
second=int(input("second:"))
if first==second:
  print("number{} is equal to number{}".format(first,second))
elif first>second:
  print("number{} is bigger than number{}".format(first,second))
else:
  print("numbe{} is smaller than number{}".format(first,second))

first:6
second:5
number6 is bigger than number5

In [ ]:
# Your second code here
number=int(input("number:"))
if number>10:
  if number%2!=0:
    print("number {} is  odd".format(number))
else:
  print("number {} is less than 10".format(number))

number:5
number 5 is less than 10

### Section 3: Loops

In [7]:
# for loop

for i in range(3, 7):
  print("Now we are at", i)

Now we are at 3
Now we are at 4
Now we are at 5
Now we are at 6

In [9]:
for i in range(1, 8, 2):
  print(i)

1
3
5
7

In [10]:
# while loop (This loop is exactly like the first for loop)

i = 3
while i < 7:
  print("Now we are at", i)
  i += 1

Now we are at 3
Now we are at 4
Now we are at 5
Now we are at 6

In [ ]:
# Break can be used in both for loop and while loop

i = 1
while i < 6:
  print("Now we are at", i)
  if i == 3:
    break
  i += 1

Now we are at 1
Now we are at 2
Now we are at 3

#### *PRACTICE TIME: FOR SECTION 3*



1.   Get the posetive integer N from the user and print the N first odd numbers.
2.   Get the posetive integer N from the user and print if the N is prime.
3.   Get the posetive integer N from the user and print a diamond of that size with stars. For example if N is 5 you should print this:

```
    *                                                                  
   ***                                                                 
  *****                                                                
 *******                                                               
*********                                                              
 *******                                                               
  *****                                                                
   ***                                                                 
    *  
```

In [ ]:
# Your first code here
number=int(input("number:"))
for i in range(1,number):
  if i%2!=0:
    print("number{} is odd".format(i))

number:13
number1 is odd
number3 is odd
number5 is odd
number7 is odd
number9 is odd
number11 is odd

In [ ]:
# Your second code here
number=int(input("number"))
for i in range(2,number+1):
   if i==number:
    print("prime")
   elif number%i==0:
    print("not prime")
    break

number4
not prime

In [ ]:
# Your third code here