# Python tutorial part 2

In the part 2 we explore lists.

In [1]:
# these are lists. In them can be any object. With any length.

mylist_number = [3, 5]
mylist_sting = ["apple", "banana", "banana"]
mylist_everything = ["apple", 120, "cherry", 120]

mylist_long = ["apple", -10, "cherry", 5, "banana", "apple", "banana", 28, True, "cat", False, 28]

print(mylist_everything)

['apple', 120, 'cherry', 120]

In [2]:
print(type(mylist_everything))

print(len(mylist_long)) # shows the length of a list

<class 'list'>
12

### Loop

In [3]:
# you can use loop for a list

for i in mylist_everything:
  print(i)

apple
120
cherry
120

#### *PRACTICE TIME: Loop*



1.   print only odd numbers of the list given below
2.   print only items of the list below that occurred once

In [ ]:
# Your first code here
list1 = [5, 10, 15, 20, 25, 50, 20]

In [ ]:
# Your second code here
list1 = [5, 10, 15, 20, 25, 50, 20]

### Access Elemets

In [6]:
print(mylist_everything)

['apple', 120, 'cherry', 120]

In [4]:
# We can access a list item by it's index. indexs start from 0

print(mylist_number[0])
print(mylist_everything[2])

3
cherry

In [5]:
# lists can accept negative indexes too

print(mylist_sting[-1])
print(mylist_everything[-2])

banana
cherry

## Range in List

In [7]:
# you can specify a range of indexes too.

print(mylist_long[5:]) # from 5 to the end
print(mylist_long[1:7]) # from 1 to 3
print(mylist_long[:3]) # from start to 3

['apple', 'banana', 28, True, 'cat', False, 28]
[-10, 'cherry', 5, 'banana', 'apple', 'banana']
['apple', -10, 'cherry']

In [8]:
print(mylist_long[1:8:2])
print(mylist_long[5:1:-1]) # from 1 to 3

[-10, 5, 'apple', 28]
['apple', 'banana', 5, 'cherry']

#### *PRACTICE TIME: Access Elemets*


1.  Print the index of the maximum element of the below list

In [9]:
# Your first code here
list1 = [5, 10, 15, 20, 25, 50, 20]

## Change Items

In [10]:
# you can change a list item like this

new_list = [1, 8, 6, 7, 0, 48]

print(new_list)

new_list[1] = "changed"

print(new_list)

[1, 8, 6, 7, 0, 48]
[1, 'changed', 6, 7, 0, 48]

In [11]:
# you can range change too

print(new_list)

new_list[3:7] = ["one", "two", "three"]

print(new_list)

[1, 'changed', 6, 7, 0, 48]
[1, 'changed', 6, 'one', 'two', 'three']

#### *PRACTICE TIME: Change Items*


1.  change new_list indexes 5, 3, 1; by ["c", "b", "a"] using range.

In [ ]:
# Your code here

## Add to list
**bold text**

In [13]:
# you can add to the end of the list using append.

mylist = ["a", 2, 6]

print(mylist)

mylist.append("v")

print(mylist)

['a', 2, 6]
['a', 2, 6, 'v']

In [14]:
# you can add item to the middle of a list using insert

mylist.insert(2, "added")

print(mylist)

['a', 2, 'added', 6, 'v']

In [15]:
# you can sum two lists

list1 = ["a", "b"]
list2 = [1, 2]

list3 = list1 + list2

print(list3)

['a', 'b', 1, 2]

In [ ]:
# for removing you can use del

del list3[2]

print(list3)

['a', 'b', 2]

#### *PRACTICE TIME: Add to list*



1.   Given two lists "list_a" and "list_b", creat a new list "list_c" containing intersection of these two.
2.   Sort "list_a" in a new list called "list_s"

In [ ]:
# Your first code here
list_a = [5, 10, 15, 20, 25, 50, 20]
list_b = [70, 3, -4, 20, 80, 50]

In [ ]:
# Your second code here
list_a = [5, 10, 15, 20, 25, 50, 20]